.connected {
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    margin: 0 500px;

    &__account {
        font-weight: 400;
        font-size: 18px;
    }

    &__deposit,
    &__withdraw {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__withdraw {
        margin-top: -24px;
    }
}

